@model Movie


    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">
                <h1>@Model.Title</h1>
                <div class="card_cat">
                    <p class="PG">@Model.ImDbRating</p>
                    <p class="year">YEAR</p>
                    <p class="genre">@Model.Genres</p>
                    <p class="time">@Model.RunTimeStr</p>
                </div>
                <p class="disc">@Model.Description</p>
            <a href="https://www.imdb.com/title/ + @Model.ImdbId" target="_blank">More info</a>
                <div class="social-btn">
                    <button class="details-button">
                        ADD TO CART
                    </button>
                             
                </div>
            </div>
        </div>
        <div class="card_right">
            <div class="img_container">
                <img src="@Model.ImageUrl" alt="">
            </div>
            
        </div>
    </div>


