@model CartViewModel
@{
    var currentPage = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
}

<div class="container">
    <table class="table table-striped">
        <tbody>
            @foreach (var item in Model.Cart.CartItems)
            {                
                <tr>
                    <td class="text-center">
                        <a class="btn btn-dark" asp-controller="cart"
                       asp-action="removefromcart" asp-route-id="@item.Movie.Id"><strong>-</strong></a>
                        @item.Amount
                        <a class="btn btn-dark" asp-controller="cart"
                       asp-action="addtocart"
                       asp-route-id=@item.Movie.Id asp-route-currentPage="@currentPage"><strong>+</strong></a>
                    </td>
                    <td>@item.Movie.Title</td>
                </tr>
            }
        </tbody>

    </table>
    <div class="text-center">
        <a class="btn btn-dark" asp-controller="order"
           asp-action="checkout">Checkout</a>
        <a id="clearcart" class="btn btn-dark">Clear cart</a>
    </div>
</div>

<style>
    .e-confirm-dialog.customClass {
        max-width: 350px;
        max-height: 200px !important;
    }
</style>
<script>
    document.getElementById('clearcart').onclick = function () {
        ej.popups.DialogUtility.confirm({
            title: "Delete multiple items",
            content: "Are you sure you want to permanently delete these items?",
            okButton: { click: confirmOkAction },
            cancelButton: { click: confirmCancelAction },
            position: { X: "center", Y: "center" },
            width : "400px",
            height: "200px",
            cssClass: "customClass"      
            
        });
    };
    function confirmOkAction() {
        this.hide();
        window.location.href = "@Url.Action("clearcart", "cart")"        
    }
    function confirmCancelAction() {
        this.hide();       
    }
</script>

