@model X.PagedList.IPagedList<Webbutik.Models.Movie>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "AllMovies";
}

<div class="container">
    <h3 class="header">Purchasable Movies</h3>

    <div class="sortmenu" style="transform:translate(-4rem,4rem)">
        <p> @Html.ActionLink("date", "AllMovies", new { sortOrder = ViewBag.NameSortParm })</p>
        <p>
            @Html.ActionLink("date_desc", "AllMovies", new { sortOrder = ViewBag.NameSortParm })
        </p>
        <p>
            @Html.ActionLink("name_desc", "AllMovies", new { sortOrder = ViewBag.NameSortParm })
        </p>
        <p>
            @Html.ActionLink("", "AllMovies", new { sortOrder = ViewBag.NameSortParm })
        </p>
    </div>

    <form asp-controller="Movies" asp-action="AllMovies" style="transform:translateX(4rem)">
        <p>
            Title: <input type="text" name="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </form>

    <div class="card-group row-cols-5" style="transform:translateX(5rem)">
        @foreach (var item in Model)
        {
            <partial name="Components//_MovieCard" model="item" />

            <div class="modal" id="exampleModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <partial name="Components//_MovieDetails" model="item" />
                    </div>
                </div>
            </div>
        }
    </div>

    <p class="align-bottom" style="color:gold">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

    @Html.PagedListPager(Model, page => Url.Action("AllMovies",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
