@model Webbutik.Models.Movie

@{
    ViewData["Title"] = "Delete";
}

<div class="container-adm">
    <h3 style="color: white;">Delete Movie</h3>
    <div>        
        <hr />
        <dl class="row" id="adm-details">
            <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Title)
            </dd>
            <hr />
            <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Description)
            </dd>
            <hr />
            <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class = "col-sm-10">
                    <img src="@Model.ImageUrl" class="img-fluid rounded-start" alt="<BILD SAKNAS>" style="height: 100px;">
            </dd>
            <hr />
            <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <hr />
            <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Stars)
            </dt>
            <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Stars)
            </dd>
            <hr />
            <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Directors)
            </dt>
            <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Directors)
            </dd>
            <hr />
            <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.IsOnSale)
            </dt>
            <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.IsOnSale)
            </dd>
            <hr />
            <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Price)
            </dd>
            <hr />
            <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Discount)
            </dt>
            <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Discount)
            </dd>
            <hr />
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="ManageProducts" class="btn btn-dark" id="btn-add">Back to List</a>
        </form>
    </div>
</div>

