@model IEnumerable<Movie>

@{
    ViewData["Title"] = "ManageProducts";
}
<div id="adm-container">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin Page
                    <hr/>
            </div>
            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" style="color:white;"><i class="fa-solid fa-user-gear"></i> Manage Account</a>
            <hr /> 

            <ul class="list-unstyled components">
                <li>
                    <a asp-action="ManageProducts">Manage Products</a> 
                </li>
                <li>
                    <a asp-action="ManageStock">Manage Stock</a>
                </li>
                <li>
                    <a asp-action="ManageCampaigns">Manage Campaigns</a>
                </li>
                <li>
                    <a asp-action="Dashboard">Statistic Dashboard</a>
                </li>
                <li>
                    <a asp-action="PurchaseLog" >Customer purchase log</a>
                </li>
                <li>
                    <a asp-action="Currency" >Currency</a>
                </li>
            </ul>

            <div style="color: white;">
                <hr />                

                <form id="logoutForm" class="form-inline" asp-area="Identity"
                    asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" class="btn btn-outline-light" type="submit"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
                </form>
            </div>

        </nav>
        <div id="content-sidebar"> 

            <h1>Manage Products</h1>

            <div class="btn btn-primary" id="btn-add">
                <a asp-action="Create">Add New Product</a>
            </div>

            <table class="table"">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>                    
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item.ImageUrl" class="img-fluid rounded-start" alt="<BILD SAKNAS>" style="height: 100px;">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>                                                    
                            <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square" style="color: #ebbd3d;"></i></a>                              
                            </td>
                            <td>
                                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye" style="color: #3da3eb;"></i></a>
                            </td>
                            <td>
                                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color: #eb3d3d;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>