
@model IEnumerable<Movie>
@{
    ViewData["Title"] = "ManageStock";
}

<div id="adm-container">
    <div class="wrapper">
  
        <nav id="sidebar">
            <div class="sidebar-header">

                <h3>Admin Page</h3>


            </div>
           
            <ul class="list-unstyled components">
                <partial name="_LoginPartial" />
                <li>
                    <a asp-action="ManageProducts">Manage Products</a> 
                </li>
                <li>
                    <a asp-action="ManageStock">Manage Stock</a>
                </li>
                <li>
                    <a asp-action="ManageCampaigns">Manage Campaigns</a>
                </li>
                <li>
                    <a asp-action="Dashboard">Statistic Dashboard</a>
                </li>
                <li>
                    <a asp-action="PurchaseLog" >Customer purchase log</a>
                </li>
                <li>
                    <a asp-action="Currency" >Currency</a>
                </li>
            </ul>
        </nav>
        <div id="content-sidebar"> 

            <h1>Manage Stock</h1>

            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InStock)
                        </th>
                        <th>
                            Manage Stock
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> 
                                <img src="@item.ImageUrl" class="img-fluid rounded-start" alt="Movie Cover" style="height: 100px;">
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.InStock
                            </td>
                            <td>
                                <a asp-controller="Movies" asp-action="ManageStockIndividually" asp-route-id="@item.Id">
                                    <i class="btn btn-dark">Manage Stock</i>
                                </a>                              
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            </div>

          
            



        </div>
    </div>
</div>

