@model DiscountViewModel
@{
    ViewData["Title"] = "NewCampaign";
}

<h1>Add Campaign</h1>

<h4>Campaign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewCampaign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.Movie.Title" class="control-label"></label>
                <select asp-for="@Model.Movie.Id" class="form-control">
                    <option selected disabled>Select Movie</option>
                    @foreach (var movie in Model.AllMovies)
                    {
                        <option value="@movie.Id">@movie.Title</option>
                    }
                </select>
                <span asp-validation-for="@Model.Movie.Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Movie.Discount" class="control-label"></label>
                <input asp-for="@Model.Movie.Discount" class="form-control" />
                <span asp-validation-for="@Model.Movie.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.DiscountStart" class="control-label"></label>
                <input asp-for="@Model.Movie.DiscountStart" class="form-control" />
                <span asp-validation-for="@Model.Movie.DiscountStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.DiscountEnd" class="control-label"></label>
                <input asp-for="@Model.Movie.DiscountEnd" class="form-control" />
                <span asp-validation-for="@Model.Movie.DiscountEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" asp-controller="Movies" asp-action="AddCampaign" asp-route-id="">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ManageCampaigns">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
