@model IEnumerable<Order>

@{
    ViewData["Title"] = "PurchaseLog";
}
<div id="adm-container">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin Page</h3>
            </div>

            <ul class="list-unstyled components">
                <partial name="_LoginPartial" />
                <li>
                    <a asp-action="ManageProducts">Manage Products</a> 
                </li>
                <li>
                    <a asp-action="ManageStock">Manage Stock</a>
                </li>
                <li>
                    <a asp-action="ManageCampaigns">Manage Campaigns</a>
                </li>
                <li>
                    <a asp-action="Dashboard">Statistic Dashboard</a>
                </li>
                <li>
                    <a asp-action="PurchaseLog">Customer purchase log</a>
                </li>
                <li>
                    <a asp-action="Currency" >Currency</a>
                </li>
            </ul>
        </nav>
        <div id="content-sidebar">
       
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(order => order.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(order => order.User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(order => order.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(order => order.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(order => order.OrderTotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(order => order.OrderDate)
                        </th>
                        <th>
                            
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
         

            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.User
                    </td>
                    <td>
                         @item.FirstName
                    </td>
                    <td>
                         @item.LastName
                    </td>
                    <td>
                         @item.OrderTotal
                    </td>
                    <td>
                         @item.OrderDate
                    </td>
                    <td>
                        <a asp-controller="Order" asp-action="Distance" asp-route-id="@item.Id">
                            <i class="fa-regular fa-map btn btn-dark"></i>Distance
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Order" asp-action="ItemsInOrder" asp-route-id="@item.Id">
                            <i class="fa-solid fa-film btn btn-dark"></i>Movies in this order
                        </a>
                    </td>

                </tr>
            }

            </tbody>    
            </table>
        </div>
    </div>
</div>